<section>
  <h2>Error</h2>
  <div class="card error">
    <p><strong>Status:</strong> <%= error.statusCode %></p>
    <p><strong>Message:</strong> <%= error.message %></p>
    <p><strong>Correlation Id:</strong> <%= error.correlationId %></p>
  </div>
  <a href="/todos">Back to home</a>
</section>


